@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>Effective Date: 1 December 2023</p>

<h2>1. Introduction</h2>

<p>Welcome to ModuleCalculator! ("we," "our," or "us"). This Privacy Policy is designed to help you understand how we collect, use, share, and safeguard your personal information.</p>

<h2>2. Information We Collect</h2>

<p>We may collect various types of information when you visit our website, including:</p>

<ul>
    <li>Personal Information such as your name and email address.</li>
    <li>Log and Usage Data</li>
    <li>Cookies</li>
</ul>

<h2>3. How We Use Your Information</h2>

<p>We use the information we collect for various purposes, including:</p>

<ul>
    <li>Providing and maintaining the website</li>
    <li>Improving and customizing our content and services</li>
   
</ul>

<h2>4. Information Sharing</h2>

<p>We may share your information with third parties for various purposes</p>


<h2>5. Changes to This Privacy Policy</h2>

<p>We may update this Privacy Policy periodically. Any changes will be posted on this page with an updated effective date.</p>

